/* Reset default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set base font and full height for body and html */
body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Style links */
a {
    text-decoration: none;
    color: inherit;
}

/* Fixed navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 1em 2em;
    position: fixed; /* Fix the navbar at the top */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure navbar is above the image */
}

/* Logo styling */
.logo {
    font-weight: bold;
    font-size: 1.5em;
}

/* Navigation link styling */
/* Navigation link styling */
.nav-links a, .nav-links li {
  color: white;
  margin-left: 20px;
  font-size: 1em;
}

/* Hover effect for navigation links */
.nav-links a:hover, .nav-links li:hover {
  color: #ccc;
}

/* Weather icon styling */
.weather {
    font-size: 1em;
}

/* Hero section styling */
.hero {
  background-image: url('assets/IMG_1840.jpg'); /* Replace with your actual hero image path */
  background-size: cover;
  opacity:0.8;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh; /* Full viewport height for the hero section */
  margin-bottom: 50px; /* Space between hero and the next section */
}

/* Center the hero content */
.hero-content {
  position: absolute;
  margin-bottom: 50px;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the content both vertically and horizontally */
  color: white;
  text-align: center;
  max-width: 900px;
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 1.5rem;
}

/* CTA link styling */
.hero-content .cta {
  font-size: 1rem;
  margin-top:30px;
  margin-bottom:30px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
}

/* Adjust CTA link appearance on hover */
.hero-content .cta:hover {
  background-color: #333;
}



/* House Section Styling */
.house-section {
  position: relative; /* This ensures that the absolute positioning is relative to this section */
  background-image: url('assets/IMG_1742.jpg'); /* Add your house section image here */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 500px; /* Adjust as needed to fit the house image */
}

.house-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); /* Adjust the transparency level */
  z-index: -1;
}
/* House Content Styling */
.house-content {
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background for content */
  position: absolute; /* Absolutely position the content within the house-section */
  bottom: 20px; /* Position from the bottom of the house-section */
  left: 20px; /* Position from the left of the house-section */
  width: 200px; /* Width of the content box */
  height: 200px; /* Height of the content box, making it square */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.house-section h2,
.house-section .read-more {
  margin: 0 0 8px; /* Space between the title and the link */
  color: #000; /* Text color */
}

.read-more {
  color: #000;
  text-decoration: none; /* No underline */
  font-weight: bold; /* Bold font weight */
  background: none; /* No background */
  border: none; /* No border */
  padding: 0; /* No padding */
  cursor: pointer; /* Cursor to pointer to indicate it's clickable */
}




/* Previous styles above */

/* Introduction section styles */
.introduction-section {
    background: #fff; /* Assuming a white background */
    padding: 50px 0; /* Top and bottom padding for spacing */
    text-align: center; /* Center the text */
  }
  
  .content {
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the content block */
    padding: 20px; /* Inner padding for the content */
  }
  
  .introduction-section h2 {
    font-size: 2.5em; /* Adjust the size as needed */
    margin-bottom: 20px; /* Spacing between the title and paragraph */
  }
  
  .introduction-section p {
    font-size: 1em; /* Adjust the size as needed */
    margin-bottom: 20px; /* Spacing between the paragraph and the link */
  }
  
  .read-more-link {
    font-weight: bold;
    color: #000; /* Text color for the link */
    display: inline-block; /* To apply margin */
    margin-top: 20px; /* Spacing above the link */
  }
  
  .read-more-link:hover {
    text-decoration: underline; /* Hover effect for the link */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .content {
      width: 95%; /* Increase width for smaller screens */
    }
  
    .introduction-section h2 {
      font-size: 2em; /* Smaller font size for smaller screens */
    }
  }
  
/* ... existing styles ... */

/* Amenities Section Styling */
.amenities {
  background-image: url('assets/IMG_1794.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 50px;
}

.amenities::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7); /* Increase the last number to decrease transparency */
  z-index: -1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Wrap elements when not enough space */
  width: 80%; /* Adjust width as necessary, consider max-width for larger screens */
  max-width: 1200px; /* Prevents the container from becoming too wide on large screens */
  margin: auto; /* Center the container */
  padding: 1em; /* Padding inside the container */
  background: rgba(255, 255, 255, 0.95); /* Less transparent white background */
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
  border-radius: 8px; /* Optional: Rounds the corners of the container */
}

.amenity {
  flex: 1; /* Allow flexible distribution of space */
  min-width: 150px; /* Minimum width of each amenity */
  margin: 1em; /* Margin around each amenity */
  text-align: center; /* Center the content */
  margin: 10px; /* Adjust margin to ensure spacing between items */
}

.amenity i {
  font-size: 24px;
  margin-bottom: 0.5em;
}

.amenity span {
  display: block; /* Ensure the span takes the full width */
  margin-bottom: 0.5em;
  font-size: 14px;
  line-height: 1.4;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
      width: 95%;
  }

  .amenity {
      min-width: 100px; /* Smaller minimum width on smaller screens */
  }
}

  .content-section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    max-height: 450px;
    gap: 20px; /* This will create a gap between the flex items */
  }
  
  .map iframe {
    width: 600px;
    height: 450px;
    border: 0;
    flex-shrink: 0;
  }
  
  .details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('assets/IMG_0442.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  .details::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* Adjust the transparency level */
    z-index: -1;
}

  .header-container {
    background-color: #fff0f0;
    color: #333;
    padding: 20px;
    border-radius:5px; 
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-top: 20px; /* Adjust if more space is needed */
  }
  
  .header-container p, .header-container a {
    margin: 0;
    text-decoration: none;
  }
  
  .header-container a {
    display: block;
    margin-top: 10px;
  }
  
  /* Additional styles for other elements can be added here */

  /* styles.css */
  /* Zen Section */

  .zen-section {
    background: #f9f9f9; /* Assuming a light background similar to the image */
    padding: 40px 0; /* Spacing above and below the content */
  }
  
  .content {
    width: 60%; /* Adjust width as needed */
    margin: 0 auto; /* Center the content block */
    text-align: center;
  }
  
  .content h1 {
    margin-bottom: 20px; /* Space between the heading and paragraph */
    font-size: 2em; /* Large font size for the heading */
  }
  
  .content p {
    margin-bottom: 20px; /* Space between the paragraph and the call-to-action link */
    line-height: 1.6; /* Increased line height for better readability */
  }
  
  .content .cta-link {
    color: #333; /* Darker text color for the link for contrast */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold font weight for the link */
  }
  
/* styles.css */
.slider-container {
  position: relative;
  width: 100%;
  max-width: 1200px; /* Adjust to match the width in the original design */
  margin: auto;
  padding: 100px 0; /* Increase padding to add space on the top and bottom */
  box-sizing: border-box;
  text-align: center; /* Center the text horizontally */
}

/* styles.css */
.slider-container {
  position: relative;
  max-width: 1200px;
  height: 300px; /* Adjust height as needed */
  margin: auto;
  overflow: hidden;
  margin-bottom: 100px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease; /* Smooth transition for the sliding effect */
}

.slide {
  min-width: 100%; /* Each slide should be the full width of the container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text horizontally */
}

h2, p {
  margin: 0; /* Remove default margins */
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em; /* Large arrows */
  color: #333;
  z-index: 2;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}



  /* Additional styles for other elements can be added here */
  .subscription-section {
    background: url('assets/IMG_1400.jpg') no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .subscription-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* Adjust the transparency level */
    z-index: -1;
}

  .subscription-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2em;
    border-radius: 8px;
    text-align: center;
    max-width: 500px;
  }
  
  .subscription-form input[type="email"] {
    margin-top: 1em;
    padding: 0.5em;
    border: none;
    border-bottom: 2px solid #ccc;
    width: calc(100% - 1em);
  }
  
  .subscription-form button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .subscription-form button:hover {
    background-color: #555;
  }

/* Footer Styles */
.footer {
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center; /* Center text for all content */
}

.footer .footer-content {
  display: flex;
  flex-direction: row; /* Align items in a row */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-wrap: wrap; /* Wrap items on smaller screens */
  max-width: 1200px; /* Adjust as necessary */
  margin: 0 auto; /* Center the flex container */
}

.footer .footer-section {
  flex: 1; /* Allow each section to take equal width */
  padding: 10px;
  box-sizing: border-box; /* Include padding in width calculation */
}

.footer .footer-section h3 {
  margin-bottom: 15px;
}

.footer .footer-bottom {
  padding-top: 20px;
  border-top: 1px solid #eee;
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact-section {
      flex-direction: column;
  }

  .contact-info, .contact-form {
      width: 100%;
      margin-bottom: 20px;
  }

  .navbar .nav-links {
      flex-direction: column;
      margin-top: 20px;
  }

  .navbar .nav-links li {
      margin-bottom: 10px;
  }

  .footer .footer-content {
      flex-direction: column; /* Stack footer sections vertically on smaller screens */
      align-items: center;
  }

  .footer .footer-section {
      margin-bottom: 20px; /* Add space between stacked sections */
  }

  .footer .footer-bottom {
      margin-top: 20px;
  }
}
  